@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="background:url(/Images/Jupiter.jpg); background-repeat:no-repeat; background-size:cover; margin:0;" >

<h1 class="display-4" style="color:white">Bienvenido</h1>
<br />
<div class="row">

       <div class="col" style="text-align:justify; color:white;  padding-right:200px">
                <p>
                    La NASA tiene un portal API cuyo objetivo es dar a conocer datos, incluyendo imágenes e información desde hace ya algunos años. Podemos ver noticias, datos de meteorología espacial, informes de patentes, datos de los proyectos tecnológicos, de satélites, de exoplanetas, y un sinfín de información.</p>
                <p> Esta página es un ensayo para jugar un poco con las APIs públicas de la NASA y consta de tres partes: </p>
                <p> <b>- APOD:</b> La imagen astronómica del día seleccionada por la NASA.</p>
                <p> <b>- EPIC</b> (Earth Polycromatic Imaging Camera) de DSCOVR: Las cámaras de imágenes policromáticas capturan cada día varias imágenes de la tierra junto a su información. También captura imágenes únicas de ciertos eventos astronómicos como la luna.</p>
                <p> <b>- MARS ROVER:</b> Imágenes(*) de Marte captadas por las Rovers Curiosity, Opportunity y Spirit. </p>
                <p><small>(*)De las 25 fotos que se reciben al hacer la consulta de Curiosity, se ha escogido sólo una. </small></p>
       </div>
       <div class="col">
       </div>
</div>
</body>
</html>
